<% include ./partials/header %>

<h1>Diagnostic Form</h1>

<form action="/name" method="GET">
    <p>Age</p>
    <input type="text" id="age" name="age">

    <p>Gender</p>
    <input type="radio" id="female" name="gender" value="0">
    <label for="female">Female</label><br>
    <input type="radio" id="male" name="gender" value="1">
    <label for="male">Male</label><br>
    <input type="radio" id="transgender" name="gender" value="2">
    <label for="transgender">Transgender</label><br>

    <p>Do you have family issues?</p>
    <input type="radio" id="yes" name="family_history" value="1">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="family_history" value="0">
    <label for="no">No</label><br>

    <p>Do you get benefits at workplace?</p>
    <input type="radio" id="yes" name="benefits" value="1">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="benefits" value="0">
    <label for="no">No</label><br>
    <input type="radio" id="dontknow" name="benefits" value="2">
    <label for="dontknow">Don't Know</label><br>

    <p>Care Options</p>
    <input type="radio" id="yes" name="care_options" value="1">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="care_options" value="0">
    <label for="no">No</label><br>
    <input type="radio" id="notsure" name="care_options" value="2">
    <label for="notsure">Not Sure</label><br>

    <p>Anonymity</p>
    <input type="radio" id="yes" name="anonymity" value="1">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="anonymity" value="0">
    <label for="no">No</label><br>
    <input type="radio" id="notsure" name="anonymity" value="2">
    <label for="dontknow">Don't Know</label><br>

    <p>Do you get leave</p>
    <input type="radio" id="veryeasy" name="leave" value="0">
    <label for="veryeasy">Very Easy</label><br>
    <input type="radio" id="someeasy" name="leave" value="1">
    <label for="someeasy">Somewhat Easy</label><br>
    <input type="radio" id="somediff" name="leave" value="2">
    <label for="somediff">Somewhat Difficult</label><br>
    <input type="radio" id="verydiff" name="leave" value="3">
    <label for="verydiff">Very Difficult</label><br>
    <input type="radio" id="dontknow" name="leave" value="4">
    <label for="dontknow">Don't know</label><br>

    <p>Work Interfere</p>
    <input type="radio" id="yes" name="work_interfere" value="1">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="work_interfere" value="0">
    <label for="no">No</label><br>
    <input type="radio" id="notsure" name="work_interfere" value="2">
    <label for="dontknow">Don't Know</label><br>

    <button>Submit</button>
</form>
<% include ./partials/footer %>